<template>
    <v-container fill-height>
        <v-card class="mx-auto" elevation="2">
            <v-card-title>
                People
                <v-spacer></v-spacer>
                <v-text-field class="mr-4" label="Search and hit Enter" v-model="search" @keyup.enter="searchpeople"></v-text-field>
                <v-btn color="primary" @click="dialog = true">Create</v-btn>
            </v-card-title>
            <v-card-text>
                <v-data-table :headers="headers" :items="peoples" :loading="loading">
                    <template v-slot:[`item.actions`]="{ item }">
                <v-icon small @click="updateItem(item)">mdi-pencil</v-icon>
                <v-icon small @click="deleteItem(item.id)">mdi-delete</v-icon>
            </template>
                </v-data-table>
            </v-card-text>
        </v-card>

        <v-dialog v-model="dialog" width="700">
            <v-card>
                <v-card-title>
                    {{operation}} 
                </v-card-title>
                <v-container class="px-4">
                    <v-row dense>
                    <v-col cols="6">
                        <v-text-field value="text" outlined dense label="First Name" v-model="peopleInfo.first_name"></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field value="text" outlined dense label="Last Name" v-model="peopleInfo.last_name"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field value="text" outlined dense label="Adress" v-model="peopleInfo.address"></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field value="text" outlined dense label="Phone" v-model="peopleInfo.phone"></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field value="email" outlined dense label="Email" v-model="peopleInfo.email"></v-text-field>
                    </v-col>
                </v-row>
                </v-container>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text color="error" @click="clearAll()">Cancel</v-btn>
                    <v-btn text color="primary" @click="addPeople()">Proceed</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return {
            headers: [
                {text: "First Name", value: "first_name"},
                {text: "Last Name", value: "last_name"},
                {text: "Date Registered", value: "date_registered"},
                {text: "Address", value: "address"},
                {text: "Phone", value: "phone"},
                {text: "Email", value: "email"},
                {text: "Action", value: "actions"}
            ],
            peopleInfo: {
                fist_name: '',
                last_name: '',
                address: '',
                phone: '',
                email: '',
            },
            defaultpeopleInfo: {
                fist_name: '',
                last_name: '',
                address: '',
                phone: '',
                email: '',
            },
            selectedId: {},
            dialog: false,
            operation: 'New',
            peoples: [],
            loading: false,
            search: ''
        }
    },
    methods: {
        clearAll(){
            this.dialog = false
            this.$nextTick(() => {
            this.peopleInfo = Object.assign({}, this.defaultpeopleInfo)
            })
        },
        async getPeople(){
            this.loading = true
            console.log('getting data')
            await axios.get('http://127.0.0.1:8000/api/people/getAll')
                        .then(res=> {
                            this.peoples = res.data;
                        })
                        .catch(err => console.log(err));
            this.loading = false
        },
        async addPeople(){
            if(this.operation == "New"){
                await axios.post('http://127.0.0.1:8000/api/people/create',{
                            first_name: this.peopleInfo.first_name,
                            last_name: this.peopleInfo.last_name,
                            address: this.peopleInfo.address,
                            date_registered: new Date().toJSON(),
                            phone: this.peopleInfo.phone,
                            email: this.peopleInfo.email
                        })
                        .then(res=> {
                            console.log(res)
                            this.getPeople()
                            this.clear()
                        })
                        .catch(err => console.log(err));
                        this.dialog = false
            }else{
                await axios.post('http://127.0.0.1:8000/api/people/update',{
                            id: this.selectedId,
                            first_name: this.peopleInfo.first_name,
                            last_name: this.peopleInfo.last_name,
                            address: this.peopleInfo.address,
                            date_registered: new Date().toJSON(),
                            phone: this.peopleInfo.phone,
                            email: this.peopleInfo.email
                        })
                        .then(res=> {
                            console.log(res)
                            this.getPeople()
                        })
                        .catch(err => console.log(err));
                        this.dialog = false
            }
        },
        async deleteItem(id){
            console.log('getting data')
            await axios.get(`http://127.0.0.1:8000/api/people/delete/${id}`)
                        .then(res=> {
                            console.log(res)
                            this.getPeople()
                        })
                        .catch(err => console.log(err));
        },
        updateItem(item){
            this.selectedId = item.id
            this.peopleInfo = item
            this.operation = "Update"
            this.dialog = true;
        },
        clear(){
            this.selectedId = 0,
            this.operation = "New",
            this.clearAll()
        },
        async searchpeople(){
            await axios.get(`http://127.0.0.1:8000/api/people/search?search=${this.search}`)
                        .then(res=> {
                            this.peoples = res.data;
                        })
                        .catch(err => console.log(err));
        }

    },
    mounted(){
        this.getPeople();
    },
    watch: {
        dialog: function(){
            if(this.dialog == false){
                this.operation = "New"
                this.clearAll()
                this.selectedId = 0
            }
        }
    }
}
</script>