<template>
  <v-app>
    <v-main>
      <CrudTable/>
    </v-main>
  </v-app>
</template>

<script>
import CrudTable from './components/CrudTable';

export default {
  name: 'App',
  components: {
    CrudTable,
  }
};
</script>
